@import url(./fonts.css);
@import url(./button.css);
@import url(./card.css);

:root {
  --primary: #10b981;
  --primary-bg: #f5f5f5;
  --textprimarycolor: #2b2626;
  --primary-products: #845ec2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: none;
}

body {
  width: 100%;

  background-color: var(--primary-bg);
}
.header {
  min-height: 888px;
  margin-top: 56px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.logo__title {
  display: inline-block;
  color: var(--primary);
  font-size: 40px;
  line-height: 49px;
  font-weight: 400;
  font-style: italic;
  margin-left: 85px;
}
.logo__title > span {
  color: black;
}
.search__input__label {
  position: relative;
  margin-left: 239px;
}
.search__input__btn {
  position: absolute;
  top: -8px;
  right: 18px;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--primary);
}
.search__input__btn > img {
  background-color: transparent;
}

.search__input {
  width: 322px;
  height: 63px;
  box-shadow: rgba(46, 131, 158, 0.07);
  border: none;
  border-radius: 10px;
  padding: 0 18px 0 32px;

  background-color: #fff;
}
.basket {
  width: 229px;
  height: 60px;
  border: 1px solid var(--primary);
  background: none;
  border-radius: 30px;
  margin-left: 38px;
}
.basket__text {
  display: inline-block;
  margin-left: 15px;
}
.login {
  width: 229px;
  height: 60px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 30px;
  color: #fff;
  margin-left: 23px;
}
.login > img {
  background-color: transparent;
}

.login__text {
  margin-left: 15px;
  display: inline-block;
  background-color: transparent;
}
.links {
  height: 81px;
  margin-top: 63px;
  background-color: var(--primary);
  padding: 28px 0;
}

.link {
  margin-left: 75px;
  display: inline;
  background-color: transparent;
}
.link > a {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
.link__first {
  margin-left: 460px;
}
/* About */
.about {
  margin-left: 85px;
}

.about__descr {
  width: 600px;
  display: inline-block;
  position: relative;
}
.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  color: var(--textprimarycolor);
  margin-top: 126px;
}
.about__descr_text {
  font-weight: 500;
  font-size: 21px;
  line-height: 35px;
  color: var(--textprimarycolor);
  margin-top: 30px;
}
.about__descr_btn {
  width: 263px;
  height: 70px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  margin-top: 52px;
  cursor: pointer;
  box-shadow: rgba(132, 94, 194, 0.15);
}

.icons {
  position: relative;
  margin-top: 112px;
  display: inline-block;
}
.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 2;
}
.icon_2 {
  position: absolute;
  left: 37px;
}
.icon_3 {
  position: absolute;
  left: 74px;
}
.icon_4 {
  position: absolute;
  left: 112px;
}
.about__reviews {
  margin-bottom: 100px;
}
.about__reviews_descr {
  font-size: 26px;
  line-height: 35px;
  font-weight: 500;
  color: var(--textprimarycolor);
  display: inline-block;
  margin-left: 126px;
  width: 120px;
}
.about__interactive {
  width: 600px;
  display: inline-block;
  position: relative;
  left: 114px;
  top: -30px;
}
.play {
  width: 115px;
  display: inline-block;
  position: relative;
  left: -47px;
  top: -8px;
}
.play__img {
  display: block;
  width: 69px;
  height: 69px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.play__img img {
  width: 112px;
  height: 75px;
  margin: 0 0 0 -23px;
}

.play__text {
  color: var(--textprimarycolor);
  font-size: 21px;
  line-height: 35px;
  font-weight: 500;
  border: none;
  display: block;
  margin: 18px auto;
}

.about__interactive__title {
  display: inline-block;
  position: absolute;
  width: 500px;
  height: 233px;
  left: 141px;
  top: 0;
  z-index: 2;
  background-color: transparent;
}
.title__word {
  display: inline-block;
  background-color: transparent;
  color: var(--textprimarycolor);
  font-size: 40px;
  line-height: 49px;
  position: relative;
  font-weight: 600;
  /* left: -58px;
  top: 110px; */
}
.title__word_R {
  left: -59px;
  top: 110px;
  transform: rotate(-93deg);
}
.title__word_e {
  left: -90px;
  top: 82px;
  transform: rotate(-93deg);
}
.title__word_d {
  left: -116px;
  top: 57px;
  transform: rotate(-76deg);
}
.title__word_B {
  left: -135px;
  top: 20px;
  transform: rotate(-61deg);
}
.title__word_e-e {
  left: -152px;
  top: -3px;
  transform: rotate(-54deg);
}
.title__word_a {
  left: -164px;
  top: -22px;
  transform: rotate(-45deg);
}
.title__word_t {
  left: -172px;
  top: -37px;
  transform: rotate(-40deg);
}
.title__word_s {
  left: -180px;
  top: -46px;
  transform: rotate(-36deg);
}
.title__word_M {
  left: -176px;
  top: -63px;
  transform: rotate(-17deg);
}
.title__word_I {
  left: -181px;
  top: -69px;
  transform: rotate(-8deg);
}
.title__word_9 {
  left: -185px;
  top: -69px;
  transform: rotate(-8deg);
}
.title__word_c {
  left: -189px;
  top: -67px;
  transform: rotate(-3deg);
}
.title__word_2 {
  left: -192px;
  top: -63px;
  transform: rotate(18deg);
}
.title__word_z {
  left: -196px;
  top: -56px;
  transform: rotate(25deg);
}
.title__word_m {
  left: -204px;
  top: -41px;
  transform: rotate(33deg);
}
.title__word_sl {
  left: -214px;
  top: -23px;
  transform: rotate(42deg);
}
.title__word_a-a {
  left: -225px;
  top: -8px;
  transform: rotate(46deg);
}
.headphones__backgr {
  display: inline-block;
  background-color: #ecfef4;
  width: 272px;
  height: 477px;
  border-radius: 136px;
}
.headphones {
  width: 332px;
  position: absolute;
  display: inline-block;
  background-color: transparent;
  left: 100px;
}
.headphones__img {
  height: 299px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  margin-top: 76px;
}
.headphones__text {
  background-color: transparent;
  display: block;
  margin-top: 26px;
  text-align: center;
  color: var(--textprimarycolor);
  font-size: 31px;
  line-height: 38px;
}
.star__first {
  position: absolute;
  top: -94px;
  left: 51px;
}
.star__second {
  position: absolute;
  top: 460px;
  left: 429px;
}
/* products */
.products {
  height: 591px;
  background-color: var(--primary-products);
  padding-top: 73px;
  padding-left: 85px;
}
.images {
  display: inline-block;
}
.images__title {
  font-size: 60px;
  line-height: 73px;
  text-shadow: 0px 0px 2px white;
  font-weight: 900;
  color: var(--primary-products);
}
.images__container {
}
.images__container_products {
  padding-top: 37px;
  position: relative;
}
.images__container > img {
  width: 190px;
  height: 331px;
}
.images__container_1 {
}
.images__container_2 {
  position: relative;
  top: -69px;
  margin: 0 33px;
}
.images__container_3 {
}
.price {
  font-size: 31px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
}
.price_products {
  margin-left: 201px;
}
.price__text {
  display: inline-block;
}
.price__number {
  display: inline-block;
  font-weight: 600;
  margin-left: 20px;
}
.product-descr {
  display: inline-block;
}
.product-descr-normal {
  position: relative;
  width: 560px;
  top: -185px;
  left: 55px;
}
.product-descr__title {
  font-size: 44px;
  line-height: 54px;
  color: #fff;
  font-weight: 600;
}
.product-descr__description {
  margin-top: 10px;
  font-size: 21px;
  line-height: 35px;
  color: #fff;
  font-weight: 500;
}
/* sellers */
.sellers {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sellers__title {
  font-weight: 600;
  line-height: 54px;
  font-size: 44px;
  text-align: center;
  color: var(--textprimarycolor);
}
.sellers__title-margin-bt {
  margin-bottom: 55px;
}
.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab__btn-wrapper {
  margin-bottom: 99px;
}
.tab__card-wrapper {
  display: flex;
  gap: 93px;
  flex-wrap: wrap;
}
