@import url(./fonts.css);

:root {
  --primary: #10b981;
  --primary-bg: #f5f5f5;
  --textprimarycolor: #2b2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-bg);
}

body {
  width: 100%;
}
.header {
  min-height: 888px;
  margin-top: 56px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.logo__title {
  display: inline-block;
  color: var(--primary);
  font-size: 40px;
  line-height: 49px;
  font-weight: 400;
  font-style: italic;
  margin-left: 85px;
}
.logo__title > span {
  color: black;
}
.search__input {
  margin-left: 239px;
  width: 322px;
  height: 63px;
  box-shadow: rgba(46, 131, 158, 0.07);
  border: none;
  border-radius: 10px;
  padding: 0 18px 0 32px;

  background-color: #fff;
}
.basket {
  width: 229px;
  height: 60px;
  border: 1px solid var(--primary);
  background: none;
  border-radius: 30px;
  margin-left: 38px;
}
.login {
  width: 229px;
  height: 60px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 30px;
  color: #fff;
  margin-left: 23px;
}
.links {
  height: 81px;
  margin-top: 63px;
  background-color: var(--primary);
  padding: 28px 0;
}

.link {
  margin-left: 75px;
  display: inline;
  background-color: transparent;
}
.link > a {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
.link__first {
  margin-left: 460px;
}
/* About */
.about {
  margin-left: 85px;
}

.about__descr {
  width: 600px;
  /* не забыть убрать маржин */
  margin-bottom: 100px;
  position: relative;
  display: inline-block;
}
.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  color: var(--textprimarycolor);
  margin-top: 126px;
}
.about__descr_text {
  font-weight: 500;
  font-size: 21px;
  line-height: 35px;
  color: var(--textprimarycolor);
  margin-top: 30px;
}
.about__descr_btn {
  width: 263px;
  height: 70px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  margin-top: 52px;
  cursor: pointer;
  box-shadow: rgba(132, 94, 194, 0.15);
}

.icons {
  position: relative;
  margin-top: 112px;
  display: inline-block;
}
.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 2;
}
.icon_2 {
  position: absolute;
  left: 37px;
}
.icon_3 {
  position: absolute;
  left: 74px;
}
.icon_4 {
  position: absolute;
  left: 112px;
}
.about__reviews_descr {
  font-size: 26px;
  line-height: 35px;
  font-weight: 500;
  color: var(--textprimarycolor);
  display: inline-block;
  margin-left: 126px;
  width: 120px;
}
.about__interactive {
  position: absolute;
  display: inline-block;
  top: 443px;
}
.play {
  width: 115px;
  display: inline-block;
}
.play__img {
  width: 69px;
  height: 69px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}
.play__text {
  color: var(--textprimarycolor);
  font-size: 21px;
  line-height: 35px;
  font-weight: 500;
  border: none;
  display: block;
  margin: 0 auto;
}

.about__interactive__title {
  display: inline-block;
  position: absolute;
  width: 500px;
  height: 233px;
  left: 141px;
  top: 0;
  z-index: 2;
  background-color: transparent;
}
.title__word {
  display: inline-block;
  background-color: transparent;
  color: var(--textprimarycolor);
  font-size: 40px;
  line-height: 49px;
  position: relative;
}
.title__word_R {
  left: -29px;
  top: 90px;
  transform: rotate(-93deg);
}
.title__word_e {
  left: -52px;
  top: 63px;
  transform: rotate(-93deg);
}
.headphones__backgr {
  position: absolute;
  z-index: 1;
  background-color: #ecfef4;
  width: 272px;
  height: 477px;
  border-radius: 136px;
  left: 141px;
  top: 0;
}
.headphones {
  width: 332px;
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: transparent;
}
.headphones__img {
  height: 299px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  margin-top: 76px;
}
.headphones__text {
  background-color: transparent;
  display: block;
  margin-top: 26px;
  text-align: center;
  color: var(--textprimarycolor);
  font-size: 31px;
  line-height: 38px;
}
.star__first {
  position: absolute;
  top: 0;
  left: 0;
}
.star__second {
  position: absolute;
  top: 450px;
  left: 450px;
}
